body
{
    font-family: 'Segoe UI' , Verdana, Helvetica, Sans-Serif;
    font-size: 12pt;    
    background-color: white;
    color: #424242;
	position: relative;
    margin: 0px auto 0px auto;
	/*
	//height: 100%;
    //min-width: 960px;
    //max-width: 1080px;
	*/
    padding: 0px 20px 0px 20px;
}

input
{
	/*spellcheck:false; 옵션이 없는듯*/
}

.button
{
	font-size: 12px!important;	
	/*font-family: 'Open Sans',sans-serif!important;*/
	background-image: none!important;
	background-color: #99ccff;/*#eaeff2!important;*/
	color: #fff; /*#4d4e53!important;*/
	padding: .35em .75em .2em;
	border: 0;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: 4px!important;
	-webkit-box-shadow: inset 0 -1px #bbbfc2;
	-moz-box-shadow: inset 0 -1px #bbbfc2;
	-ms-box-shadow: inset 0 -1px #bbbfc2;
	box-shadow: inset 0 -1px #bbbfc2;	

	margin-top:5px;
	cursor:pointer;
}

.button2
{
	font-size: 12px!important;	
	/*font-family: 'Open Sans',sans-serif!important;*/
	background-image: none!important;
	background-color: #ccc!important;
	color: #4d4e53!important;
	padding: .35em .75em .2em;
	border: 0;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: 4px!important;
	-webkit-box-shadow: inset 0 -1px #bbbfc2;
	-moz-box-shadow: inset 0 -1px #bbbfc2;
	-ms-box-shadow: inset 0 -1px #bbbfc2;
	box-shadow: inset 0 -1px #bbbfc2;	

	margin-top:5px;
	cursor:pointer;
}

.button_large
{
	font-size: 20px!important;	
	/*font-family: 'Open Sans',sans-serif!important;*/
	background-image: none!important;
	background-color: #eaeff2!important;
	color: #4d4e53!important;
	padding: .35em .75em .2em;
	border: 0;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: 4px!important;
	-webkit-box-shadow: inset 0 -1px #bbbfc2;
	-moz-box-shadow: inset 0 -1px #bbbfc2;
	-ms-box-shadow: inset 0 -1px #bbbfc2;
	box-shadow: inset 0 -1px #bbbfc2;
}

.margin_bottom
{
	margin-bottom:5px;
{

.icon-plus
{
	background-image:url("../img/icon_plus_2.png");
}

/*-- select box css --*/
/*
.styled-select 
{
   width:100px;
   overflow: hidden;
   background: #F8F8F8;
   border: 1px solid #DDDDDD;
   height: 30px;
   border-radius:2px;
 }

.styled-select select 
{
  width: 100%;
  border: 0;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  appearance: none;
  background: transparent url("/img/smart_arrows.png") no-repeat scroll 97% 8px;

  @media (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) {
      background: transparent url("/img/smart_arrows@2x.png") no-repeat scroll 97% 8px;
      background-size: 16px 144px;
    }
}
*/
/*
select {
    width: 100%;
    height: 34px; /* set same height */
/*    position:absolute;
    left: 0;
    z-index:2;
    padding:0;
    margin:0;
    border:0 none;
    float:none;
    opacity:0;
    cursor: pointer;
    -webkit-appearance: menulist-button;
}
*/

