<launch>
  <node pkg="dummy_concert" name="dummy" type="concert.py" output="screen">
    <param name="example_services" value="$(find dummy_concert)/data/example_services.yaml"/>
    <param name="conductor_graph" value="$(find dummy_concert)/data/conductor_graph.dot"/>
    <param name="gateway_graph" value="$(find dummy_concert)/data/gateway_graph.dot"/>
  </node>
</launch>
